
*{
    padding: 0; /* Внутренний отступ*/
    margin: 0;   /* Внешний отступ*/
    border: 0; /* Граница*/
    font-family: "Arial";
}

table{
    border-collapse: collapse;
    width: 97%;
    margin: 0 auto;
    font-size: 13px;
}

table tr td, table tr th{
    border: 1px solid #000000;
    padding: 2px;
    text-align: center;
}

table tr th:nth-child(13){
    width: 25%;
}

h1{
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
}

a{
    text-decoration: none;
}

a.filter{
    color: #00005b;
    font-size: 13px;
}
ul.menu{
    font-size: 20px;
    display: block;
    width: 100%;
    background: url(background/background76.png);
    padding: 15px;
    text-align: center;
}
ul.menu li{
    display: inline-block;
    margin: 0 20px;
}
body{
    background: url(background/background76.png);
}
select{
    background: url(background/background76.png);
    padding: 5px;
 /*   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

.form_equip{
    width: 25%;
    margin: 3% auto;
}
.btn{
    display: block;
    margin: 15px auto;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-save{
    background: url(background/background76.png);
    border: 1px solid #bbb;
}
.btn-save:hover{
    background: blue;
    color:#fff;
}
.group-input{
    margin: 8px 0;
}
.group-input label, .group-input input{
    display: inline-block;
    width: 47%;
}
.group-input input{
    padding: 5px;
    width: 160px;
    margin: 0;
    border: 1px solid #bbb;
}
input{
    text-align: center;
}
.login_form{
    width: 200px;
    margin: 15% auto;
}
.select_control{
    width: 172px;
    border: 1px solid #bbb;
    display: inline-block;
}
.a_action{
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
    color:#fff;
}
